
*.dll
*.pdb
*.json
*.props
*.cache
*.exe
*.targets
*/bin/*
*/obj/*
*/.vs/*
*/Debug/*
Bloggie\Bloggie.Web\obj\*

Bloggie/Bloggie.Web/obj/Debug/net8.0/Bloggie.Web.AssemblyInfo.cs
Bloggie/Bloggie.Web/obj/Debug/net8.0/scopedcss/projectbundle/Bloggie.Web.bundle.scp.css
Bloggie/Bloggie.Web/obj/Debug/net8.0/scopedcss/Pages/Shared/_Layout.cshtml.rz.scp.css
Bloggie/Bloggie.Web/obj/Debug/net8.0/scopedcss/bundle/Bloggie.Web.styles.css
Bloggie/Bloggie.Web/obj/Debug/net8.0/Bloggie.Web.GlobalUsings.g.cs
Bloggie/Bloggie.Web/obj/Debug/net8.0/Bloggie.Web.RazorAssemblyInfo.cs
Bloggie/Bloggie.Web/obj/Debug/net8.0/Bloggie.Web.GeneratedMSBuildEditorConfig.editorconfig
Bloggie/Bloggie.Web/obj/Debug/net8.0/Bloggie.Web.csproj.FileListAbsolute.txt
*.BuildWithSkipAnalyzers
Bloggie/Bloggie.Web/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
